:root {
	font-family: "Arial";
	text-align: center;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

p {
	
}

div {
	padding-bottom: 50px;
}