#skeleton {
	animation: stretchDown 1s;
}

@keyframes stretchDown {
    from {
        opacity: 0;
        transform: scaleY(0%); 
    }
    to {
        opacity: 1;
        transform: scaleY(100%)
    }
}

#stars path{
    opacity: 0;
    animation: dropIn 6s ease forwards infinite;
    animation-delay: calc(var(--order) * 200ms)
}

@keyframes dropIn {
    25% {
        opacity: 0;
        transform: translateY(-5%);
    }
    50%, 75% {
        opacity: 1;
        transform: translateY(0%);
    }
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
}

#loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    animation: fadeOut 5s ease forwards;
}

#loading-bar {
    transform: scaleX(1%);
    transform-origin: center;
    opacity: 1;
    animation: loading ease forwards 5s;
}

@keyframes loading {
    80% {
        transform: scaleX(100%);
        opacity: 1;
    }

    100% {
        transform: scaleX(100%);
        opacity: 0;
    }
}

#loading-bg, #loading-bar-bg {
    opacity: 1;
    animation: fadeOut ease forwards 5s;
}

@keyframes fadeOut {
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#reading-main {
    animation: fluctuate 10s ease forwards infinite;
    transform-origin: bottom;
}

@keyframes fluctuate {
    20% {
        transform: scaleY(50%);
    }
    40% {
        transform: scaleY(60%);
    }
    60% {
        transform: scaleY(80%);
    }
    80% {
        transform: scaleY(40%);
    }
    100% {
        transform: scaleY(100%);
    }
}